/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #fff1e6;
}

h1 {
  font-size: 60px;
  font-style: italic;
  letter-spacing: 5px;
  color: #B4CEB3;
  text-shadow: 2px 5px #546A76;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  color: #546A76;
  text-align: center;
}

.rowIndiv {
  display:flex;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 95px;
}

.row {
  display: flex;
  flex-direction: row;
}

.question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

button {
  background-color: #546A76;
  border-radius: 12px;
  height: 40px;
  color: white;
}

img {
  border: inset 8px  #CD8B76;
}

.restart {
  display:flex;
  justify-content: center;
}

#restartbtn {
  border-radius: 12px;
  height: 48px;
  width: 100px;
  background-color: #CD8B76;
  color: white;
  text-shadow: 2px 2px #0D0628;
}

#result {
  color: #546A76;
  text-shadow: 3px 2px #B4CEB3;

}