/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-size: 50px;
  font-style: italic;
  letter-spacing: 5px;
  color: #B4CEB3;
  text-shadow: 2px 2px #546A76;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  color: #546A76;
  text-align: center;
}

.rowIndiv {
  display:flex;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 95px;
}

.row {
  display: flex;
  flex-direction: row;
}

.question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

button {
  background-color: #FAD4D8;
}

img {
  border: inset 8px  #7B435B;
}

.restart {
  display:flex;
  justify-content: center;
  height: 40px;
}